@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a8daf9;
  background-image: url("sky.avif");
  background-repeat: round;
  font-family: "Libre Baskerville", serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.content {
  padding: 20px;
  background: white;
  border-radius: 2px;
  width: fit-content;
  border-radius: 14px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  color: #fff;
}

.main {
  text-align: center;
}

.country-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.country-selector input[type="text"] {
  height: 3rem;
  width: 80%;
  max-width: 300px;
  background: #0a67ca;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border: none;
  background-color: transparent;
  border: 2px solid #c2c2c2;
  border-radius: 2px;
  margin-right: 4px;
}

.wrapper p {
  align-items: center;
  justify-items: center;
  text-align: center;
}

table {
  padding: 5px;
}
img {
  width: 195px;
  height: 170px;
  margin: 20px;
  border-radius: 10%;
}

.country-selector input[type="submit"] {
  height: 3rem;
  width: 6rem;
  background: #a8daf9;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
}
.country-selector input[type="submit"]:hover {
  background: #fff;
  color: #a8daf9;
  border: solid 2px #a8daf9;
}

.display {
  text-align: center;
  color: #0a67ca;
}

.wrapper {
  margin: 0 5%;
  background-color: white;
  border-radius: 2px;
}

.wrapper h2 {
  padding: 5px 0;
  text-align: center;
  background: white;
  color: #a8daf9;
  font-family: sans-serif;
  font-size: 24px;
}

.wrapper p {
  margin: 10px;
  text-align: center;
  color: #04214c;
  font-size: 20px;
}

table {
  margin: 20px auto;
}

table th {
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
  border-spacing: 5px;
}

table td {
  font-size: 16px;
}

th,
td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .country-selector {
    flex-direction: column;
  }

  .country-selector input[type="text"] {
    width: 80%;
    max-width: 80%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }

  .content {
    padding: 20px;
    background: white;
    border-radius: 2px;
    width: fit-content;
    border-radius: 14px;
  }

  header {
    text-align: center;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
    color: #fff;
  }

  .main {
    text-align: center;
  }

  .country-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .country-selector input[type="text"] {
    height: 3rem;
    width: 80%;
    max-width: 300px;
    background: #0a67ca;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right: 4px;
  }

  .wrapper p {
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  table {
    padding: 5px;
  }
  img {
    width: 165px;
    height: 150px;
    margin: 20px;
    border-radius: 10%;
  }

  .country-selector input[type="submit"] {
    height: 1rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    background: #a8daf9;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
  }

  .wrapper h2 {
    padding: 5px 0;
    text-align: center;
    background: white;
    color: #a8daf9;
    font-family: sans-serif;
    font-size: 24px;
  }

  .wrapper p {
    margin: 10px;
    text-align: center;
    color: #04214c;
    font-size: 20px;
  }

  table {
    margin: 20px auto;
  }

  table th {
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    border-spacing: 5px;
  }

  table td {
    font-size: 16px;
  }

  th,
  td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
  }
}
